.doctor-profile1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.doctor-profile1-doctor-profile1 {
  width: 100%;
  height: 896px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.doctor-profile1-group7 {
  top: 78px;
  left: 200px;
  width: 355px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-top {
  top: 0px;
  left: 0px;
  width: 355px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-rectangle10 {
  top: 0px;
  left: 308px;
  width: 47px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
.doctor-profile1-morevert {
  top: 10px;
  left: 318px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.doctor-profile1-rectangle101 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 19px;
}
.doctor-profile1-text {
  top: 5px;
  left: 30px;
  color: rgba(29, 35, 102, 1);
  width: 278px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-profile1-group8 {
  top: 491px;
  left: 179px;
  width: 392px;
  height: 209px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-rectangle102 {
  top: 0px;
  left: 0px;
  width: 392px;
  height: 209px;
  position: absolute;
}
.doctor-profile1-text07 {
  top: 54px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-profile1-text09 {
  top: 22px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-profile1-doctor {
  top: 26.960693359375px;
  left: 244px;
  width: 131.34796142578125px;
  height: 20.28846549987793px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-text11 {
  top: 1.039306640625px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-profile1-text13 {
  top: 1.039306640625px;
  color: rgba(255, 255, 255, 1);
  width: 27px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-profile1-starrate {
  top: 0px;
  left: 19.385969161987305px;
  width: 16.087722778320312px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.doctor-profile1-group {
  top: 0px;
  left: 0px;
  width: 16.087722778320312px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-vector {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 14px;
  position: absolute;
}
.doctor-profile1-vector1 {
  top: 1.1666666269302368px;
  left: 1.3406435251235962px;
  width: 13px;
  height: 12px;
  position: absolute;
}
.doctor-profile1-liveoptions {
  top: 385px;
  left: 247px;
  width: 264.7568359375px;
  height: 79.727783203125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-ellipse21 {
  top: 0px;
  left: 89.08888244628906px;
  width: 78px;
  height: 80px;
  position: absolute;
}
.doctor-profile1-ellipse20 {
  top: 0px;
  left: 186.9609832763672px;
  width: 78px;
  height: 80px;
  position: absolute;
}
.doctor-profile1-vector2 {
  top: 15.66070556640625px;
  left: 107.91053009033203px;
  width: 43px;
  height: 44px;
  position: absolute;
}
.doctor-profile1-vector3 {
  top: 19.931873321533203px;
  left: 204.52780151367188px;
  width: 43px;
  height: 44px;
  position: absolute;
}
.doctor-profile1-ellipse211 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 80px;
  position: absolute;
}
.doctor-profile1-vector4 {
  top: 21.3554744720459px;
  left: 18.821653366088867px;
  width: 40px;
  height: 31px;
  position: absolute;
}
.doctor-profile1-vector5 {
  top: 853.4254760742188px;
  left: 99.8831787109375px;
  width: 56px;
  height: 24px;
  position: absolute;
}
.doctor-profile1-vector6 {
  top: 854.39306640625px;
  left: 362.733642578125px;
  width: 38px;
  height: 24px;
  position: absolute;
}
.doctor-profile1-vector7 {
  top: 853.4254760742188px;
  left: 595.7943725585938px;
  width: 44px;
  height: 24px;
  position: absolute;
}
.doctor-profile1-notification {
  top: 93px;
  left: 216px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-vector8 {
  top: 1.492138324010739e-8px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.doctor-profile1-image9 {
  top: 157px;
  left: 278px;
  width: 193px;
  height: 213px;
  position: absolute;
}
.doctor-profile1-footer {
  top: 746px;
  left: 193px;
  width: 363px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.doctor-profile1-button {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.doctor-profile1-text15 {
  top: 24px;
  left: 105px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
