.mood-good-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mood-good-mood-good {
  width: 100%;
  height: 896px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.mood-good-slider {
  top: 658px;
  left: 200px;
  width: 330px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-background {
  top: 21px;
  left: 0px;
  width: 330px;
  height: 5px;
  position: absolute;
  border-radius: 4px;
}
.mood-good-circle {
  top: 0px;
  left: 132.00009155273438px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-handle {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mood-good-handle1 {
  top: 15.09375px;
  left: 14.375px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.mood-good-text {
  top: 90px;
  left: 231px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mood-good-text5 {
  top: 275px;
  left: 340px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mood-good-emoji2 {
  top: 379px;
  left: 269px;
  width: 211px;
  height: 139px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-left {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-ellipse3 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.mood-good-ellipse1 {
  top: 25px;
  left: 25px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.mood-good-right {
  top: 0px;
  left: 151px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-ellipse4 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.mood-good-ellipse2 {
  top: 25px;
  left: 25px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.mood-good-vector3 {
  top: 129px;
  left: 60px;
  width: 117px;
  height: 10px;
  position: absolute;
}
.mood-good-footer {
  top: 760px;
  left: 193px;
  width: 363px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-button {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.mood-good-text7 {
  top: 25px;
  left: 144px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mood-good-notification {
  top: 60px;
  left: 33px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mood-good-vector {
  top: 1.492138324010739e-8px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
